.tile {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: var(--tile-width, 340px); /* Змінна для ширини */
    height: var(--tile-height, auto); /* Змінна для висоти */
    margin: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
    }
  }
  
  .tileHeader {
    font-size: 1.6rem;
    color: #013b6e; /* Синій колір для заголовків */
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  p {
    margin: 6px 0;
    font-size: 1rem;
    color: #333;
  }
  
  strong {
    color: #013b6e; /* Синій колір для ключових слів */
    font-weight: bold;
  }
  
  /* Адаптивність */
  @media (max-width: 768px) {
    .tile {
      max-width: 100%;
      margin: 10px 0;
    }
  
    .tileHeader {
      font-size: 1.4rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  }
  .editIcon {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.3rem;
  color: #013b6e;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}
.editIcon:hover {
  transform: scale(1.2);
  color: #013b6e;
}
.buttonContainer {
  margin-top: 1rem;
  width: 100%;
  /* тут ваші додаткові стилі */
}
.subscriptionButton {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background: #013b6e;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.subscriptionButton:hover {
  background: #012d59;
}