.table_wrapper {
   margin-top: 45px;
   padding: 0px 8px;
}

.parentTabsWrapper {
   color: black;
   margin-top: 130px;
}

.parentTabItem {
   background-color: rgb(224, 224, 224);
   font-weight: 500;
   padding: 12px;
   border-radius: 10px;
   margin: 10px;
   position: relative;
   transition: all 0.2s ease;
   cursor: pointer;
   &:hover {
      transform: scale(100.5%);
   }
}

.childTabsWrapper {
   display: none;
   margin-top: 20px;
}

.childTabs {
   width: 100%;
   cursor: pointer;
   position: relative;
   display: flex;
}

.showTab {
   display: flex;
}

.child_tab {
   border-bottom: 1px transparent;
   width: 100%;
   margin-right: 10px;
   padding: 10px;
}

.active_child_tab {
   border-bottom: 1px solid black;
}

.childTabContentWrapper {
   display: none;
   margin-top: 20px;
   padding: 10px;

   li {
      margin-left: 20px;
   }
}

.showChildTab {
   display: block;
}

.childTabContent {
   display: block;
   text-align-last: left;
   cursor: default;
   font-weight: 400;

   font-size: 14px;
}

.option_title {
   font-weight: 600;
   font-size: 15px;
   margin-bottom: 20px;
}

.bold {
   display: inline-block;
   font-weight: 600;
   margin-right: 5px;
}

.options {
   margin-bottom: 20px;
   padding-left: 20px;

   position: relative;

   &::after {
      content: "•";
      position: absolute;
      left: 0;
      top: 0;
   }
}
