/* src/components/SavedCasesWidget.module.scss */

.widgetContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .casesGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .caseTile {
    flex: 1 1 calc(50% - 20px); /* Відображаємо 2 плитки в ряд */
    max-width: calc(50% - 20px);
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px; /* Фіксована висота для уніфікації */
    box-sizing: border-box;
  }
  
  .caseTile:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .tileActions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 6px;
  }
  
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .button:hover {
    background-color: #039e5d;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .markCompletedButton {
    background-color: #28a745; /* Зелені кнопки */
  }
  
  .markCompletedButton.active {
    background-color: #218838;
  }
  
  .markCompletedButton:hover:not(.active) {
    background-color: #1e7e34;
  }
  
  .deferButton {
    background-color: #ffc107; /* Жовті кнопки */
  }
  
  .deferButton.active {
    background-color: #e0a800;
  }
  
  .deferButton:hover:not(.active) {
    background-color: #d39e00;
  }
  
  .loading {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    color: #555;
  }