.mobileCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 1rem;
  color: #013b6e;
  margin: 1px;

  .checkboxInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkboxIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;    /* Змінюй це значення для ширини */
    height: 40px;   /* Змінюй це значення для висоти */
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 8px 8px 10px #dbdbdb, -8px -8px 10px #ffffff00;
    font-size: 7px;  /* Це розмір тексту всередині */
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  /* Стан після натискання */
  &.active .checkboxIcon {
    background: #28a745;
    box-shadow: inset 24px 24px 9px #1f8236, inset -24px -24px 9px #31cc54;
  }

  /* Прозора галочка */
  &.active .checkboxIcon::after {
    content: '\2714';  /* Unicode галочки ✓ */
    font-size: 50px;
    color: rgba(0, 0, 0, 0.05); /* Дуже прозора галочка */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    pointer-events: none;
  }
}