@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$primary-color: #013b6e;
$border-color: #ccc;
$bg-complete: rgba(#4caf50, 0.1);
$bg-incomplete: rgba(#ff9800, 0.1);

.tableRow {
  // Кожен документ
}

.rowEven {
  // background-color: #f9f9f9;
}

.rowOdd {
  // background-color: #ffffff;
}

.rowCompleted {
  background-color: $bg-complete;
}

.rowIncomplete {
  background-color: $bg-incomplete;
}

.tableCell {
  padding: 8px;
  border: none; // Вилучено межі
  text-align: center;
  vertical-align: middle;
  color: $primary-color; // Встановлено колір тексту
}

.nameField {
  font-weight: 600;
  color: $primary-color; // Встановлено колір тексту
}

.checkbox_wrapper {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.req_img {
  width: 16px;
  height: 16px;
}

.optionalCheckboxWrapper {
  margin: 4px 0;
  text-align: center;
}

.link {
  color: #007bff;
  &:hover {
    text-decoration: underline;
  }
}

.warning {
  color: red;
}

.info {
  color: #777;
}

/* Адаптивні стилі для мобільної версії */
@media (max-width: 768px) {
  .tableRow {
    // Стилі для рядків таблиці, якщо необхідно
  }

  .checkboxGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
