.tutorialButton {
    position: fixed;
    top: 85px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #388e3c;
    font-size: 24px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #388e3c;
    }
  }
  /* Додаткові стилі для підказок, якщо потрібно */
.joyride-tooltip {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .joyride-tooltip__content {
    color: #333;
    font-size: 14px;
  }
  
  .joyride-tooltip__controls {
    display: flex;
    justify-content: space-between;
  }
  .react-joyride__tooltip {
    position: fixed !important;
  }
  .react-joyride__tooltip {
    position: absolute !important;
    top: 80px !important; /* Встановлюємо відступ від верхнього краю */
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 1050 !important;
    max-width: 400px;
  }