/* src/components/Table/DocumentTutorial.module.scss */

/* Глобальні стилі для react-joyride */
:global(.react-joyride__tooltip) {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  padding: 16px;
  transition: all 0.3s ease-in-out; /* Плавніша анімація */
}

:global(.react-joyride__tooltip h3) {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

:global(.react-joyride__tooltip p) {
  font-size: 14px;
  font-weight: normal;
}

:global(.react-joyride__tooltip-container .react-joyride__button--next) {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

:global(.react-joyride__tooltip-container .react-joyride__button--skip) {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

:global(.react-joyride__close) {
  display: none; /* Приховуємо кнопку закриття */
}

/* Локальні стилі */


.tutorialButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
}