/* TableMobile.module.scss */

.tableMobileWrapper {
    width: 100%;
    overflow-x: auto;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4d4d446;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.fixedColumn {
    flex-direction: column;
    gap: 10px;
    flex: 1;
    font-weight: bold;
}

.scrollableHeader {
    display: flex;
    align-items: center;
}

.arrowButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 5px;
    color: #555;
    transition: transform 0.2s ease, opacity 0.2s ease; /* Додаємо плавний перехід */
}

.arrowButton:hover {
    color: #007bff;
    transform: translateX(-4px); /* Зсув для лівої стрілки */
    opacity: 0.8; /* Зменшує прозорість при наведенні */
}

.arrowButton.right:hover {
    transform: translateX(4px); /* Зсув для правої стрілки */
}

.columnLabel {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.tableBody {
    display: flex;
    flex-direction: column;
}

.tableRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.scrollableColumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.checkbox {
    transform: scale(1.2);
}